.container
  %p
    = link_to 'Linux 中国', 'http://linux.cn/'
    %small 翻译小组
    | Powered by
    = link_to 'LCTT-Platform', '//github.com/vizv/LCTT-Platform'
  %p
    %small
      除特别注明外，本站所有翻译内容均为
      = link_to 'CC协议', '//creativecommons.org/licenses/by-nc-sa/3.0/deed.zh'
      授权
