-# Rails flash messages styled for Bootstrap 3.0
- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{class: "alert alert-#{name.to_s} alert-dismissible", role: 'alert'}
      %button.close{'data-dismiss' => 'alert', :type => 'button'}
        %span{'aria-hidden' => 'true'} &times;
        %span.sr-only Close
      = content_tag :div, msg, :id => "flash_#{name}"
